---
const title = "Suggestify – Discover and Share Brutal Tunes";
const description =
	"Suggestify is a web application allows people to recommend tracks they think I should listen to.";
const url = "https://suggestify.ahmetalmaz.com";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#000000" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="canonical" href={url} />

		<!-- Open Graph Meta -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={`${url}/banner.png`} />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={`${url}/banner.png`} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		color: #f00;
		font-family: "Arial", sans-serif;
	}

	a {
		color: #f00;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	::selection {
		background: #f00;
		color: #000;
	}
</style>
